
.search{
  margin: 2em;
  padding: 10px;
  border-radius: 10px;
  width:38%;
}
.category{
  margin: 1.8rem;
  padding: 10px;
  border-radius: 5px;
  width:25%;

}
.Textfield{
    margin: 1.5em;
    padding: 7px 5px
}
.submit{
    background-color : #96CD37;
    color: #fff !important;
    margin: 2em;
    border-radius: 10px;
    width:12%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiOutlinedInput-input{
  padding: 10px 5px;
}